
<body>
    <footer class="bg-purple center-text">
        <div class="social text-center">
            <a href="https://github.com/DimitrisMetskas">
                <img width="36" height="36" src="../static/assets/img/github.svg" >
            </a>
            <a href="https://www.linkedin.com/in/dimitrios-smernos-a305362ab/">
                <img width="36" height="36" src="../static/assets/img/linkedin.svg" >
            </a>
            <a href="mailto:crazyspirit1993@gmail.com">
                <img width="36" height="36" src="../static/assets/img/email.svg" >
            </a>
        </div>
        <div style="color: white">Created by me © </div>
        </footer>


        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>

</body>
</html>
