{% include "header.html" %}


<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-tertiary">
    <div class="col-md-6 p-lg-5 mx-auto my-5">
      <h1 class="display-3 fw-bold" >Python Junior Developer</h1>
      <img width="300" height="200" class="avatar" src="../static/assets/img/avatar_purple.jpg">
      <h3 >Give me some coffee and I will show you the magic</h3>
  </div>
</div>

  <div class="container">
    <div class="columns is-centered">
      <div class="column text-center">
        <h1 class="title is-spaced is-size-1-desktop is-size-2-tablet is-size-3-mobile">Backend Developer, Web Designer</h1>
        <h5 class="subtitle is-size-2-tablet">I design and code simple things, and I love what I do!</h5>
      </div>
    </div>
  </div>

  <div class="container text-center">
    <img width="600" height="400" src="../static/assets/img/computer.jpg">
  </div>

<section class="bg-purple text-center big-space">
  <div class="container">
    <div class="title">
      <h3 style="color: white" >Hello, I'm Dimitris. Nice to meet you.</h3>
    </div>
    <div style="color: white" class="description big-space">
         I am coding for 1 year.
        I am curious in learning new thing and try to improve my skills!
    </div>
  </div>
</section>

<section class="slide-up-section">
<div class="list-column">
<div class="icon"><i class="fa fa-code"></i></div>
<div class="title"><h4>Junior Developer:</h4></div>
<div class="description">I like to code and enjoy learning new things.</div>
<div class="block">
  <div><h4>Languages I speak:</h4></div>
    <div class="description">Python, HTML, CSS, SQL
  </div>
</div>
<div class="block">
<div class="title is-purple"><h4>Technologies and Tools I'm familiar with:</h4></div>
<div class="description">
Web Design, Web Scraping, Selenium Web Driver ,<br>
Request, WTForms, Pandas, Matplotlib,<br>
WordPress, PyCharm,<br>
Visual Studios, Google Colab, Github, APIs<br>
</div>
</div>
</div>
</section>


{% include "footer.html" %}


